:local(.MeasuresListElement) {
    display: flex;
}
:local(.row) {
    padding: 10px 0;
    border-bottom: 1px solid grey;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    & > div {
        flex-basis: 20%;
        
    }
}
:local(.trafficlight) {
    font-weight: bolder;
}
:local(.redcolor) {
    color: red;
}
:local(.yellowcolor) {
    color: yellowgreen;
}
:local(.greencolor) {
    color: green;
}