<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <system.webServer>
      <rewrite>
         <rules>
			<rule name="React routes" stopProcessing="true">
			  <match url="^(.*)$" />
			  <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
				<add input="{REQUEST_URI}" pattern="/api(.*)$" negate="true" />
				<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
				<add input="{QUERY_STRING}" pattern="/api/swagger(.*)$" negate="true" />
			  </conditions>
			  <action type="Rewrite" url="/" />
			</rule>
         </rules>
      </rewrite>
   </system.webServer>
</configuration>