@import "../../style/abstracts/_all.scss";

:local(.activitiesTable) {
    border-collapse: collapse;
    width: 100%;
 
    
    tbody td {
        padding: 10px 10px 10px 0;
        td {            
            width: 15px;
          }
          td+td {
            width: auto;
          }
    }
    td {
  width: 5%;
}
td+td {
  width: auto;
}
 }
:local(.block) {
  margin: 10px 0;
}
table td, table td * {
  vertical-align: top;
}