:local(.form) {
    label {
        font-weight: 600;
        margin-bottom: 5px;;}
    div {
        margin-bottom: 15px;
    }    
}
:local(.btngroup) {
    button {
        margin-right: 10px;
    }
}