:local(.breadcrumbs) {
   padding: .75rem 1rem;
   margin-bottom: 30px;
   background-color: #f7f7f7;
   border-radius: .25rem;
   font-size: 14px;
   display: inline-block;

   > div {
      display: inline-block;

      > span {
        max-width: 490px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        vertical-align: bottom;
      }

      > span + span {
         padding-left: 5px;
   
         &::before {
            display: inline-block;
            padding-right: 5px;
            color: #6c757d;
            content: "/";
         }
      }
   }
}