:local(tbody tr) {
   cursor: unset;
   
   &:hover {
      background-color: #fbfbfb;
   }

   td {
      padding: 8px 0;
      border-bottom: 1px solid #cccccc;
   }
}

:local(.star) {
   width: 18px;
   height: 18px;
   margin-right: 2px;
   vertical-align: -3px;
}

:local(.trafficLight) {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: block;

    &.light-1 {
        background-color: #de0000;
    }

    &.light-2 {
        background-color: #ff9900;
    }

    &.light-3 {
        background-color: #009900;
    }
}