:local(.icon) {
    margin-left: 10px;
}

:local(table) [target="_blank"] {
    position: relative;
    display: inline-block;
    padding-right: 1rem;
    font-weight: 400;
    color: #3767c7;

    }
    [target="_blank"]:after {
    content: "(Åpnes i nytt vindu)";
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    
    }  
 
   
 

