.react-datepicker-wrapper {
    .react-datepicker__input-container {
        input {
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
        }
    }
}

.react-datepicker__tab-loop {
    .react-datepicker-popper{
        z-index: 2;
    }
}