:local(.openInfo) {
    transition: all .3s ease-in-out;
    overflow: hidden;  
    
  }
  :local(.close) {
    max-height: 0;
  }
  :local(.open) {
    font-style: italic;
    max-height: 1500px;
    padding: 5px;
    font-weight: 600;
    border-radius: 3px;
    border: 2px solid lightgrey;
    margin: 5px;
    margin-left: 0;
  }
  :local(.icon) {
      margin-left: 5px;
      &:hover {
          cursor: pointer;
      }
  }