@import "./style/abstracts/_all.scss";
@import "./style/_font-faces.scss";
@import "./style/_select-dropdown.scss";
@import "~bootstrap/scss/bootstrap";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $default-font;
  background-color: $body-background;
  color: $color-default-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 48pt;
  font-weight: 100;
  margin: 0;

  &::after {
    content: "";
    display: block;
    width: 100px;
    border-bottom: 5px solid #fe5000;
    margin: 25px 0 30px 0;
  }
}

/*.btn, a.btn, button.btn, input[type=button].btn, input[type=submit].btn {
   background-color: #7da1c4;
   background-position: 50%;
   border-radius: 0;
   border: 1px solid transparent;
   color: #ffffff;
   cursor: pointer;
   font-family: Open Sans,sans-serif;
   font-size: 12pt;
   font-style: normal;
   font-weight: 400;
   height: 34px;
   line-height: 16pt;
   margin-bottom: 7px;
   text-decoration: none;
   transition: all .35s linear 0s;

   &.primary {
      background-color: #fe5000;
   }

   &:hover,
   &:focus {
      background-color: #fe5000;
      border: 1px solid transparent;
      color: #ffffff !important;
      font-size: 12pt;
      font-style: normal;
      line-height: 16pt;
   }
}*/

.modal.modal-static .modal-dialog {
  transform: none !important;
}

.MuiInputLabel-outlined {
  font-size: 14px;
  transform: translate(14px, 16px) scale(1);
}
input[type=radio] {  
   visibility: hidden;
}
input[type='radio']:after {   
   width: 20px;
   height: 20px;
   border-radius: 15px;
   top: -2px;
   left: 2px;
   position: relative;
   border-color: #fe5000;
   background-image: url('../src/gfx/radio-unchecked.svg');
   content: '';
   display: inline-block;
   visibility: visible;
   
}

input[type='radio']:checked:after {
   width: 20px;
   height: 20px;
   border-radius: 15px;
   top: -2px;
   left: 2px;
   position: relative;
   background-image: url('../src/gfx/radio-checked.svg');
   content: '';
   display: inline-block;
   visibility: visible;
   
}


/*input[type="text"] {
   padding: 0 10px;
   border-radius: 0;
   border: 1px solid #cfcfcf;
   box-shadow: none;
   font-family: Open Sans, sans-serif;
   font-style: normal;
   font-variant: normal;
   color: #000000;
   font-size: 12pt!important;
   font-weight: 400;
   min-height: 30px;
   width: 100%;
   min-height: 34px;
   padding: 0 15px;   
}*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.EasyMDEContainer {
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  .CodeMirror {
    border: 1px solid #ced4da;
    border-right: 0 none;
    border-left: 0 none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .editor-toolbar {
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &:focus,
  &:focus-within {
    outline: none;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
}

.form-container {
  margin: 30px 0;
}

tbody {
   font-size: 1.1em;
}
